@model List<Book>
@{
    ViewData["title"] = "Scaffale Admin";
}
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="FoundBooks" asp-controller="Admin" method="post">
                <input type="text" name="searchTerm" placeholder="Cerca per: Titolo, Autore, Editore, ISBN o Genere" style="width:450px">
                <button type="submit" class="btn btn-outline-secondary" style="margin-bottom: 10">Cerca</button>
            </form>
        </div>
    </div>

    <h1>Risultati Trovati</h1>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <td>ISBN</td>
                <td>Titolo</td>
                <td>Sottotitolo</td>
                <td>Autore 1</td>
                <td>Autore 2</td>
                <td>Autore 3</td>
                <td>Editore</td>
                <td>Anno</td>
                <td>Copie</td>
                <td>Volume</td>
                <td>Lingua</td>
                <td>Genere</td>
                <td>Sinossi</td>
                <td>Disponibilità</td>
            </tr>
            @{
                for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].Isbn</td>
                        <td>@Model[i].Title</td>
                        <td>@Model[i].Subtitle</td>
                        <td>@Model[i].Author01</td>
                        <td>@Model[i].Author02</td>
                        <td>@Model[i].Author03</td>
                        <td>@Model[i].PublishingHouse</td>
                        <td>@Model[i].ReleaseYear</td>
                        <td>@Model[i].NumberOfcopys</td>
                        <td>@Model[i].Volume</td>
                        <td>@Model[i].Language</td>
                        <td>@Model[i].Genre</td>
                        <td>@Model[i].Abstract</td>
                        @{
                            switch (Model[i].Availability)
                            {
                                case 0:
                                    <td style="background-color:lightgreen">disponibile</td>
                                    break;
                                case 1:
                                    <td style="background-color:yellow">prenotato</td>
                                    break;
                                case 2:
                                    <td style="background-color:lightcoral">In prestito</td>
                                    break;
                            }
                        }
                        <td>
                            <a asp-action="BookManager" asp-controller="Admin" asp-route-id="@Model[i].Book_id" asp-route-nCopys="@Model[i].NumberOfcopys" class="btn btn-secondary">Modifica</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}
else
{
    <h1>Nessun risultato Trovato</h1>

    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
            <div class="hamster__body">
                <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                </div>
                <div class="hamster__limb hamster__limb--fr"></div>
                <div class="hamster__limb hamster__limb--fl"></div>
                <div class="hamster__limb hamster__limb--br"></div>
                <div class="hamster__limb hamster__limb--bl"></div>
                <div class="hamster__tail"></div>
            </div>
        </div>
        <div class="spoke"></div>
    </div>
}